.app-container {
    display: flex;
}

.contact-list-container {
    width: 35%;
    height: 100vh;
    overflow-x: hidden;
}

.chat-window-container {
    width: 70%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
}